body{
    font-family: Tahoma, SansSerif;
    font-size: small;
    margin: 0;
    box-sizing: border-box;
    color: #144774;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.index{
    text-align: center;
}

.index h1{
    margin: 50px;
}

.index button{
    height: 50px;
    width: 400px;
}

form{
    width: 800px;
    margin: auto;
}

form table{
    width: 100%
}

form th{
    width: 200px;
    text-align: left;
}

input[type=text], input[type=email], select, textarea{
    width: 100%;
    text-align: left;
}

.button-center{
    width: max-content;
    margin: auto;
}


a{
    text-decoration: none;
    color: #144774;
}



header{
    background: linear-gradient(0deg, #4C76A0 0%, #144774 100%);
    border-radius: 0 0 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 800px;
    box-shadow: 0 2px 2px gray;
    margin: auto;
}

header img{
    width: 200px;
}

section{
    width: 800px;
    margin: 52px auto 0;
    display: flex;
    flex-direction: row;
}

.menu{
    width: 140px;
    margin: 10px 0 0 10px;
}

.menu li:hover{
    background-color: #D9E2E9;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 3px 0;
}

.main-div{
    width: 640px;
    margin-right: 10px;
    border: rgba(211, 211, 211, 0.5) 1px solid;
}

.name-div{
    background-color: #F6ECB9;
    padding: 6px 10px;
    border-bottom: rgba(211, 211, 211, 0.5) 1px solid;
}

.anketa-div{
    display: flex;
    flex-direction: row;
}

.anketa-left-div{
    padding: 10px 10px;
}

.anketa-left-div-links table{
    width: 100%;
}

.anketa-left-div-links td{
    border-bottom: rgba(211, 211, 211, 0.5) solid 1px;
    width: 100%;
}

.anketa-left-div-links td:hover{
    background-color: #D9E2E9;
}

.anketa-right-div{
    width: 100%;
    padding: 10px 10px;
}

.anketa-right-div a:hover{
    border-bottom: #4C76A0 solid 1px;
}

.anketa-right-div table{
    width: 100%;
    text-align: left;
}

.anketa-right-div td{
    vertical-align: top;
}

.row-padding-top-1 td{
    padding-top: 20px;
}

.row-padding-top-2 td{
    padding-top: 15px;
}

.row-padding-top-3 td{
    padding-top: 10px;
}

.anketa-table-h1{
    border-bottom: rgba(211, 211, 211, 0.5) solid 1px;
    color: #144774;
}

.anketa-table-h2{
    background-color: #D9E2E9;
    color: #144774;
    border-top: #A0ACBC solid 2px;
}

.anketa-table-h3{
    color: #144774;
}

.anketa-row-name{
    color: gray;
    width: 130px;
}

.avatar{
    width: 200px;
    aspect-ratio: 1 / 1.75;
}

.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 800px;
    border-radius: 5px 5px 0 0;
    background-color: #efefef;
    box-shadow: 0 -1px 2px gray;
    margin: auto;
}