<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваша страница</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>

{#логотип#}
<header><a href="{% url 'index' %}"><img src="" alt="logo">Соцсеть</a></header>

{#основная секция#}
<section>
{#    аватар#}
    <div><img src="" alt=""></div>

{#    информация#}
    <div>
        <table>

        </table>
    </div>
    
</section>

<footer>Андрей Королёв, 2023г.</footer>

</body>
</html>